/* Временный bg */
body {
    background-color: #0B0D17;
    /* line-height: 1.5; */
    /* height: 100vh; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-width: 375px;
    margin: 0 auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* body смена фона */
/* @media (min-width:35em) and (max-width: 64em) {
    body  {
       background-image: url(../../img/tablet/background/tablet-home.jpg);
    }
   }
   @media (min-width:64em) {
       body {
           background-image: url(../../img/desktop/background/desktop-home.jpg);
       }
   } */

   
   